@using System.Globalization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate">
    <title>@ViewBag.Title</title>

    @{ Html.RenderPartial("_SiteStyles"); }
    
    <script>
        (function (window, document) {
            var $buoop = { c: 2 };

            function $buof() {
                var script = document.createElement("script");
                script.src = "//browser-update.org/update.js";
                document.body.appendChild(script);
            };

            try {
                document.addEventListener("DOMContentLoaded", $buof, false);
            } catch (e) {
                window.attachEvent("onload", $buof);
            }
        })(window, window.document);
    </script> 
</head>
<body>
    <header id="tp">
        <div class="grid">
            <h1 id="tp-l" class="fl">
                <!-- IMG LOGO -->
            </h1>
            <div class="fr">
                @{ Html.RenderPartial("Login"); }
            </div>
        </div>
    </header>

    @RenderBody()

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        (window.jQuery) || document.write('<script type="text/javascript" src="/Content/js/lib/jquery.min.js"><\/script>');
    </script>
    <script type="text/javascript">
        window.lng = @Html.Raw(CultureInfo.TwoLetterISOLanguageName.ToJson());
    </script>
    @Scripts.Render("~/Content/js/lib/i18next.min.js")
    @Scripts.Render("~/Content/js/site.js")
</body>
</html>
