<footer id="wl-ft">
    <div id="wl-ft-ct-sp" class="wl-ft-ct">
        <span id="wl-ft-nv-it-sp" class="wl-ft-nv-it">@WiseLabResources.ScoutPad</span>
        <div class="wl-ft-ct-bx">
            <div class="wl-ft-ct-bx-arr"></div>
            <div class="wl-ft-ct-bx-ctn">
                <span id="wl-sp-mxz" class="wl-ct-arr"></span>
                <div id="wl-sp-liw">
                    <ul id="wl-sp-li"></ul>
                </div>
                <div id="wl-sp-sr" class="input-search input-search-2">
                    @Html.TextBox("wl-sp-sr-st", string.Empty, new { @class = "input", placeholder = WiseLabResources.SearchWord, disabled = "disabled" })
                    <div class="search">
                        @Html.Submit("", new { @id = "wl-sp-sr-sb", @class = "fa", disabled = "disabled" })
                    </div>
                </div>
                <div id="wr-sp-dn" class="wr-dn-btw">
                    <input id="wr-sp-dn-bt" class="input input-or wr-dn-bt" type="button" value="@GeneralResources.Done">
                </div>
            </div>
        </div>
    </div>

    <div id="wl-ft-ct-wh" class="wl-ft-ct">
        <span id="wl-ft-nv-it-wh" class="wl-ft-nv-it">@WiseLabResources.WisdomHunter</span>
        <div class="wl-ft-ct-bx">
            <div class="wl-ft-ct-bx-arr"></div>
            <div class="wl-ft-ct-bx-ctn">
                <div id="wl-wh-khw">
                    <ul id="wl-wh-kh"></ul>
                </div>
                <div id="wl-wh-ehw">
                    <ul id="wl-wh-eh"></ul>
                </div>
                <div id="wl-wh-whw">
                    <textarea id="wl-wh-wh" placeholder="@WiseLabResources.Lead"></textarea>
                </div>
                <div id="wr-wh-dn" class="wr-dn-btw">
                    <div id="wl-wh-whc">
                        <span id="wl-wh-whc-a"></span>
                        <span id="wl-wh-whc-s">/</span>
                        <span id="wl-wh-whc-m"></span>
                    </div>
                    <input id="wr-wh-dn-bt" class="input input-or wr-dn-bt" type="button" value="@GeneralResources.Done">
                </div>
            </div>
        </div>
    </div>

    <div id="wt-ft-ct">
        <span id="wt-ft-nv-it">@RoleNames.MODULE_WISETANK</span>
        <div id="wt-ft-ct-bx">
            <div id="wt-ft-ct-bx-arr"></div>
            <div id="wt-ft-ct-bx-ctn">
                <div id="wt-ft-ct-ctn">
                    <div id="wt-spn" class="app-spinner app-spinner-large app-spinner-active"></div>
                    <div id="wt-aw"></div>
                    <div id="wt-tw">
                        <div id="wt-twt">
                            <span id="wt-twtt">@GeneralResources.Timelines</span>
                            <span id="wt-twtb" class="wt-twtbh"><a>« @GeneralResources.Timelines</a></span>
                        </div>
                        <div id="wt-tww">
                            <div id="wt-twcw">
                                <div id="wt-twct">
                                </div>
                                <div id="wt-twcc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>