@model ProDesksHomeModel

@{
    ViewBag.Title = RoleNames.MODULE_PRODESKS;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="pec-spn" class="app-spinner app-spinner-large app-spinner-hide app-spinner-active"></div>
<div id="pec-w" class="dsk-mct-w">
    <div id="pec-h" class="dsk-mct-h clearfix"><!--
        --><span class="dsk-mct-lv">@Model.Level.UserDisplayName</span><!--
        --><span class="dsk-mct-hn">@AlteaUser.FirstName @AlteaUser.LastName</span><!--
        --><span class="dsk-mct-hun">@@@AlteaUser.Name</span><!--
        --><div class="dsk-mct-asd"><!--
            --><span id="pec-asd-a" class="dsk-mct-asd-d dsk-mct-asd-a"></span><!--
            --><span id="pec-asd-f" class="dsk-mct-asd-d dsk-mct-asd-f"></span><!--
            --><span id="pec-asd-c" class="dsk-mct-asd-d dsk-mct-asd-c"></span><!--
            -->
        </div><!--
        -->
    </div>
    <div id="pec-cw" class="dsk-mct">
        <div id="pec-c" class="dsk-mct-c"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
    </script>

    @Scripts.Render("~/Content/js/desks/index")
    @Scripts.Render("~/Content/js/prodesks")
    @Scripts.Render("~/Areas/ProDesks/Content/js/index")
}
