@using Altea.Common.Classes
@using Heracles.Services
<!DOCTYPE html>

@{
    AlteaRoleProvider roleProvider = (AlteaRoleProvider)Roles.Provider;
    IEnumerable<AlteaModule> modules = roleProvider.GetModulesForUser(AlteaUser.Name, IsLocal);
    AlteaModule[] teacherModules = modules.Where(x => x.Role == "Teacher" && x.Name != "Teacher")
        .OrderBy(x => x.Position)
        .ToArray();

    IDictionary<Language, IEnumerable<SpeechType>> speechTypes;
    AlteaCache.GetOrInsert(
        "__SPEECHTYPES__",
        true,
        DictionaryService.GetSpeechTypes,
        AlteaCache.Scope.Altea,
        AlteaCache.Term.Largest,
        out speechTypes);
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <title>@RoleNames.MODULE_TEACHER</title>

    @{ Html.RenderPartial("_AppStyles"); }
    @RenderSection("Styles", false)
</head>
<body>
    <header id="tp" class="tchr-tp">
        <a id="tp-lgw" href="@Url.Action("Index", "Home", new { area = "", id = "" })">
            <img id="tp-lg" src="@string.Format(ConfigurationManager.AppSettings["AlteaApplicationStorageSettingsUri"], "img", AppCore.Setting_SmallLogo2Name)">
        </a>
        <nav id="tp-mn" class="tp-n">
            <ul>
                @if (teacherModules.Length != 0)
                {
                    foreach (AlteaModule module in teacherModules)
                    {
                        if (module.Route != null && module.Route.Visible)
                        {
                            <li>
                                @* ReSharper disable once AssignNullToNotNullAttribute *@
                                @Html.ActionLink(
                                    RoleNames.ResourceManager.GetString("MODULE_" + module.Name.Replace(' ', '_').ToUpperInvariant()),
                                    module.Route.Action,
                                    module.Route.RouteValues)
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
        <div id="tchr-tp-fic" class="tchr-tp-ic @RenderSection("FirstHeaderClass", false)">@RenderSection("FirstHeader", false)</div>
        <div id="tchr-tp-sic" class="tchr-tp-ic @RenderSection("SecondHeaderClass", false)">@RenderSection("SecondHeader", false)</div>
        <div id="tp-i">
            <span class="tp-ic">
                <a id="tchr-chrono" class="tp-is fa fa-clock-o"></a>
            </span>
            <span class="tp-ic">
                <a class="tp-is fa fa-power-off" href="@Url.Action("Logout", "Account", new { area = "", id = "" })"></a>
            </span>
        </div>
    </header>

    <div id="ct" class="tchr-ct @RenderSection("ContainerClass", false)">
        <div id="ct-c">
            @RenderBody()
        </div>
    </div>


    @if (!IsDebug())
    {
    /* Raygun configuration */
    @Scripts.Render("~/raygun")
    <script>
    (function() {
        var raygun = Raygun.init("X8g432kXiu6yV46IZHAsIw==", { disableAnonymousUserTracking: true });
        raygun.setUser(@Html.Raw(AlteaUser.Name.ToJson()), false, null, @Html.Raw(AlteaUser.Name.ToJson()));
        raygun.attach();
    })();
    </script>
    }

    <script type="text/javascript">
        window.user = Object.create({
            name: @Html.Raw(AlteaUser.Name.ToJson()),
            weekStart: @AlteaUser["week_start_day"],
            offsetDate: new Date().getTimezoneOffset()
        });
    </script>

    @{ Html.RenderPartial("_AppScripts"); }

    <script type="text/javascript">
        window.sm.setup({
            speechTypes: @Html.Raw(
                    speechTypes
                    .Where(x => x.Key == AlteaUser.From || x.Key == AlteaUser.To)
                    .ToDictionary(x => x.Key, x => x.Value)
                    .ToJson()),
            speechSelected: @Html.Raw(AlteaUser["speech_voices"].ToJson())
        });
    </script>

    @RenderSection("Scripts", false)

    @{ Html.RenderPartial("_AppLanguageScripts"); }
</body>
</html>
