@model TeacherHomeModel
@using Altea.Classes.Group
@using Altea.Classes.Members
@using Altea.Common.Classes
@using Heracles.Services
@using Heracles.Web.Areas.Teacher.Resources

@{
    ViewBag.Title = RoleNames.MODULE_DESKSINDEX;
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

@functions {
    public IEnumerable<Level> GetFlatLevels(IEnumerable<Level> levels)
    {
        List<Level> tmpLevels = new List<Level>();

        foreach (Level level in levels)
        {
            tmpLevels.Add(level);
            if (level.Children != null && level.Children.Count() != 0)
            {
                tmpLevels.AddRange(GetFlatLevels(level.Children));
            }
        }

        return tmpLevels;
    }
}

@{
    string language = this.AlteaUser.From.GetPrefix(LanguagePrefixType.ShortName);
    IEnumerable<Level> levels;

    AlteaCache.GetOrInsert(
        "LEVELS_" + language,
        true,
        () => AppService.GetLevels(this.AlteaUser.From),
        AlteaCache.Scope.Altea,
        AlteaCache.Term.Largest,
        out levels);

    IEnumerable<Level> flatLevels = GetFlatLevels(levels);

    AlteaGroup[] groups = GroupService.GetGroups(AppCore.AppId, this.AlteaUser.From, this.AlteaUser.To, true).ToArray();

    int[] groupLevels = groups
        .SelectMany(x => x.Levels)
        .Select(x => x.Level)
        .Distinct()
        .ToArray();

    Level[] finalLevels = flatLevels.Where(x => groupLevels.Contains(x.Id)).ToArray();

    int weekStartDay = int.Parse(@AlteaUser["week_start_day"]);
}

@section FirstHeaderClass { tchr-tp-dsp tchr-tp-lvl }
@section SecondHeaderClass { tchr-tp-dsp tchr-tp-dsp-dsb tchr-tp-grp }

@section FirstHeader
{
    <div id="tchr-tp-lvl" class="tchr-tp-ttl">@TeacherResources.Levels</div>
    <div class="tchr-tp-bx">
        <div class="tchr-tp-bxw">
            <div class="tchr-tp-bxc">
                @foreach (Level level in finalLevels)
                {
                    <div class="tchr-tp-bxd" data-id="@level.Id">@level.Name</div>
                }
            </div>
        </div>
    </div>
}

@section SecondHeader
{
    <div id="tchr-tp-grp" class="tchr-tp-ttl">@TeacherResources.Groups</div>
    <div class="tchr-tp-bx tchr-tp-bx-lrg">
        <div class="tchr-tp-bxw-s">
            <select id="tchr-tp-grp-days" class="tchr-tp-bx-s">
                <option value="-1" selected="selected">@TeacherResources.AllDays</option>
                @for (int i = 0; i < 7; i++)
                {
                    DayOfWeek dow = (DayOfWeek)((i + (weekStartDay - 1) + 7) % 7);
                    <option value="@((int)dow)">@GeneralResources.ResourceManager.GetString("WeekDay" + (int)(dow + 1))</option>
                }
            </select>
            <select id="tchr-tp-grp-tchr" class="tchr-tp-bx-s"><option value="-1" selected="selected">@TeacherResources.AllTeachers</option></select>
            <input id="tchr-tp-grp-src" class="tchr-tp-bx-s" type="text" placeholder="@TeacherResources.SearchGroup">
        </div>
        <div class="tchr-tp-bxw">
            <div id="tchr-tp-grp-ngr" class="tchr-tp-grp-ngr-act">@TeacherResources.NoGroups</div>
            <div id="tchr-tp-grp-bxc" class="tchr-tp-bxc">
                @foreach (AlteaGroup group in groups)
                {
                    foreach (AlteaGroupLevel level in group.Levels)
                    {
                        <div class="tchr-tp-bxd tchr-tp-bxd-hd" data-id="@group.Id" data-lid="@level.Id" data-level="@level.Level">@group.Name</div>
                    }
                }
            </div>
        </div>
    </div>
}

@section ContainerClass {
    tchr-ct-hd
}

<div id="tchr-spn" class="app-spinner app-spinner-large app-spinner-active app-spinner-hide"></div>
<div id="pgs-w">
    <div id="pgs-c" class="tchr-pgs-c">
        <div id="pgs-cww">
            <div id="pgs-cw" class="clearfix">
                <div id="dn-desksindex" class="pg pg-f">
                    <div class="pg-fc">
                        <div id="dsk-idx" class="dsk-mct dn-mct">
                            <div id="dsk-idx-c" class="dsk-mct-c"></div>
                        </div>
                    </div>
                </div>

                <div id="dn-desksexams" class="pg pg-f">
                    <div class="pg-fc">
                        <div id="dsk-exm" class="dsk-mct dn-mct">
                            <div id="dsk-exm-c" class="dsk-mct-c"></div>
                        </div>
                    </div>
                </div>

                <div id="dn-desksextra" class="pg pg-f">
                    <div class="pg-fc">
                        <div id="dsk-ext" class="dsk-mct dn-mct">
                            <div id="dsk-ext-c" class="dsk-mct-c"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pgs-f">
        <div id="pgs-ft"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());

        window.model.groups = @Html.Raw(groups.ToJson());
    </script>
    @Scripts.Render("~/Content/js/desks/index")
    @Scripts.Render("~/Content/js/desks/exams")
    @Scripts.Render("~/Content/js/desks/extra")
    @Scripts.Render("~/Areas/Teacher/Content/js/index")
    @Scripts.Render("~/Areas/Teacher/Content/js/chronometer")
}
