@model Heracles.Models.Home.LogInModel

<div id="login">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
    {
        <fieldset>
            <div id="login-data" class="clearfix">
                <div id="login-user" class="field">@Html.TextBoxFor(m => m.Username, new { @class = "input mini", placeholder = SiteResources.Username })</div>
                <div id="login-pass" class="field">@Html.PasswordFor(m => m.Password, new { @class = "input mini", placeholder = SiteResources.Password })</div>
                <div id="login-submit" class="field">
                    @Html.Submit(SiteResources.Login, new { @class = "input mini input-bl" })
                    <div id="login-spinner" class="spinner"></div>
                </div>
            </div>
            <div id="login-more" class="clearfix">
                <div id="login-remember" class="field">
                    @Html.CustomCheckBoxFor(m => m.Remember, new { @class = "mini" }, new { @class = "option" })
                    @Html.LabelFor(m => m.Remember, SiteResources.RememberMe)
                </div>
                <div id="login-recover" class="field">
                    @Html.ActionLink(SiteResources.RecoverPassword, "Recover", "Account", new { id = "recover" })
                </div>
            </div>
        </fieldset>
        <div id="login-validation"></div>
    }
    <noscript>
        <div id="login-noscript">
            <div>
                <p>@SiteResources.NoScript</p>
            </div>
        </div>
    </noscript>
</div>
