@using Heracles.Web.Areas.Admin.Resources

<div class="adm-bx">
    <div class="adm-bx-ic fa fa-users" title="@AdminResources.Users"></div>
    <div class="adm-bx-xs">
        <div class="adm-bx-x adm-bx-tlt"><span>@AdminResources.Users</span></div>
        <a id="adm-bx-usr-add" class="adm-bx-x adm-bx-add fa fa-user-plus" title="@AdminResources.Add"></a>
        <a id="adm-bx-usr-edt" class="adm-bx-x adm-bx-edt fa fa-pencil" title="@AdminResources.Edit"></a>
    </div>
</div>

<div class="adm-bx">
    <div class="adm-bx-ic fa fa-cogs" title="@AdminResources.Modules"></div>
    <div class="adm-bx-xs">
        <div class="adm-bx-x adm-bx-tlt"><span>@AdminResources.Modules</span></div>
        <a id="adm-bx-mdl-edt" class="adm-bx-x adm-bx-edt fa fa-pencil" title="@AdminResources.Edit"></a>
    </div>
</div>