<div id="stk-inb">
    <div id="stk-inb-ctn" class="ctn">
        <div id="stk-inb-spn" class="app-spinner app-spinner-large app-spinner-active"></div>
        <div id="stk-inb-s" class="input-search">
            <form id="stk-inb-sf">
                @Html.TextBox("stk-inb-st", string.Empty, new { @class = "input", placeholder = WiseLabResources.SearchWord, disabled = "disabled" })
                <div id="stk-inb-sbw" class="search">
                    @Html.Submit("", new { @id = "stk-inb-sb", @class="fa", disabled = "disabled" })
                </div>
            </form>
        </div>
        <div id="stk-inb-d">
            <div id="stk-inb-nd">@StackResources.VocabularyNoInboxData</div>
            <div id="stk-inb-dw">
                <ul id="stk-inb-dc" class="wn-dl"></ul>
            </div>
        </div>
    </div>
</div>
<div id="stk-sts">
    <div id="stk-sts-ctn" class="ctn">
        <div id="stk-sts-dc">
            <div id="stk-sts-spn" class="app-spinner app-spinner-large app-spinner-hide app-spinner-active"></div>
            <div id="stk-sts-steps" class="stk-sts">
                <div class="stk-sts-t">@StackResources.Steps</div>
                <div class="stk-sts-c"><svg id="stk-sts-c-steps" class="stk-sts-c"></svg></div>
            </div>
            <div id="stk-sts-finished" class="stk-sts">
                <div class="stk-sts-t">@StackResources.Finished</div>
                <div class="stk-sts-c"><svg id="stk-sts-c-finished" class="stk-sts-c"></svg></div>
            </div>
        </div>
    </div>
</div>
<div id="stk-eqs">
    <div id="stk-eqs-ctn" class="ctn">
        <div id="stk-eqs-spn" class="app-spinner app-spinner-large app-spinner-active"></div>
        <div id="stk-eqs-dc"></div>
    </div>
</div>
<div id="stk-lst">
    <div id="stk-lst-ctn" class="ctn">
        <div id="stk-lst-spn" class="app-spinner app-spinner-large app-spinner-active"></div>
        <div id="stk-lst-nlt">@ListsResources.NoLists</div>
        <div id="stk-lst-dc"></div>
    </div>
</div>
