@model WiseNetLandingModel
@using Heracles.Web.Areas.WiseNet.Resources
<!DOCTYPE html>

@{
    AlteaRoleProvider roleProvider = (AlteaRoleProvider)Roles.Provider;
    bool hasMagazines = Model.Magazines.Count() != 0;
}

<html>
<head>
    <title>@RoleNames.MODULE_WISENET</title>

    <script type="text/javascript">
        if (window.location === window.parent.location) {
            window.location.href = "TODO";
            throw new Error("Not in WiseNet!");
        }
    </script>

    @{ Html.RenderPartial("_AppStyles"); }
</head>
<body id="wnh" class="@(hasMagazines ? "wnh-mgz" : "wnh-nmg")">
    <div id="wnh-ct">
        <div id="wnh-up">
            <h1 id="wnh-tle">@RoleNames.MODULE_WISENET</h1>
            <div id="wnh-se"></div>
        </div>
        <div id="wnh-md">
            <input id="wnh-gb" type="text" class="input" placeholder="@WiseNetResources.SearchOrUrl" autofocus>
        </div>
        @if (hasMagazines)
        {
            <div id="wnh-dw">
                <div id="wnh-dww">
                    <div id="wnh-dwc"></div>
                </div>
            </div>
        }
    </div>

    @{ Html.RenderPartial("_AppScripts"); }

    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
        window.model.hasMagazines = @hasMagazines.ToJson();
    </script>

    @Scripts.Render("~/Areas/WiseNet/Content/js/home")

    @{ Html.RenderPartial("_AppLanguageScripts"); }
</body>
</html>
