@model WiseNetModel
@using Altea.Common.Classes
@using Heracles.Services
@using Heracles.Web.Areas.WiseNet.Resources
<!DOCTYPE html>

@{
    bool hasWisetank = ((AlteaRoleProvider)Roles.Provider).IsUserInModule(AlteaUser.Name, "WiseTank", IsLocal);

    IDictionary<Language, IEnumerable<SpeechType>> speechTypes;
    AlteaCache.GetOrInsert(
        "__SPEECHTYPES__",
        true,
        DictionaryService.GetSpeechTypes,
        AlteaCache.Scope.Altea,
        AlteaCache.Term.Largest,
        out speechTypes);
}

<html>
<head>
    <title>@RoleNames.MODULE_WISENET</title>

    @{ Html.RenderPartial("_AppStyles"); }
</head>
<body>
    <header id="wn-tp">
        <div id="wn-tp-lft">
            <a id="wn-tp-lgw" href="@Url.Action("index", "Home", new { area = "", id = "" })">
                <img id="wn-tp-lg" src="@string.Format(ConfigurationManager.AppSettings["AlteaApplicationStorageSettingsUri"], "img", AppCore.Setting_SmallMiniLogoName)">
            </a>
            <span id="wn-prv" class="fa fa-arrow-left wn-icn wn-dsb" title="@WiseNetResources.Back"></span>
            <span id="wn-nxt" class="fa fa-arrow-right wn-icn wn-dsb" title="@WiseNetResources.Forward"></span>
            <span id="wn-hme" class="fa fa-home wn-icn wn-dsb" title="@WiseNetResources.Home"></span>
            <span id="wn-rfs" class="fa fa-refresh wn-icn wn-dsb" title="@WiseNetResources.Refresh"></span>
        </div>
        <div id="wn-tp-gbr">
            @Html.TextBox("wn-gbr", string.Empty, new { @class = "input" })
            @Html.Button(WiseNetResources.ReportError, new { @id = "wn-reb", @class = "input mini input-bl", disabled = "disabled" })
        </div>
        <div id="wn-tp-rgt">
            @if (hasWisetank)
            {
                <span id="wn-wtk" class="fa fa-paper-plane wn-icn wn-dsb" title="@WiseNetResources.AddToWiseTank"></span>
            }
            <span id="wn-wsp" class="fa fa-binoculars wn-icn wn-dsb" title="@WiseLabResources.ViewWisePod"></span>
        </div>
    </header>
    <div id="wn-ct">
        <iframe id="wn-ct-c"></iframe>
    </div>

    @{ Html.RenderPartial("_WiseFooter"); }

    @if (!IsDebug())
    {
        /* Raygun configuration */
    @Scripts.Render("~/raygun")
    <script>
        (function() {
            var raygun = Raygun.init("X8g432kXiu6yV46IZHAsIw==", { disableAnonymousUserTracking: true });
            raygun.setUser(@Html.Raw(AlteaUser.Name.ToJson()), false, null, @Html.Raw(AlteaUser.Name.ToJson()));
            raygun.attach();
        })();
    </script>
    }

    <script type="text/javascript">
        window.user = Object.create({
            name: @Html.Raw(AlteaUser.Name.ToJson()),
            weekStart: @AlteaUser["week_start_day"],
            offsetDate: new Date().getTimezoneOffset()
        });
    </script>

    @{ Html.RenderPartial("_AppScripts"); }

    <script type="text/javascript">
        window.sm.setup({
            speechTypes: @Html.Raw(
                speechTypes
                .Where(x => x.Key == AlteaUser.From || x.Key == AlteaUser.To)
                .ToDictionary(x => x.Key, x => x.Value)
                .ToJson()),
            speechSelected: @Html.Raw(AlteaUser["speech_voices"].ToJson())
        });
    </script>

    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
        window.model.hasWisetank = @hasWisetank.ToJson();
    </script>

    @Scripts.Render("~/Areas/WiseNet/Content/js/wisenet")

    @{ Html.RenderPartial("_AppLanguageScripts"); }
</body>
</html>
