@model DesksIndexHomeModel

@{
    ViewBag.Title = RoleNames.MODULE_DESKSINDEX;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="dsk-spn" class="app-spinner app-spinner-large app-spinner-hide app-spinner-active"></div>
<div id="dsk-idx-w" class="dsk-mct-w">
    <div id="dsk-idx-h" class="dsk-mct-h clearfix"><!--
        --><span class="dsk-mct-lv">@Model.Level.UserDisplayName</span><!--
        --><span class="dsk-mct-hn">@AlteaUser.FirstName @AlteaUser.LastName</span><!--
        --><span class="dsk-mct-hun">@@@AlteaUser.Name</span><!--
        --><div class="dsk-mct-asd"><!--
            --><span id="dsk-idx-asd-a" class="dsk-mct-asd-d dsk-mct-asd-a"></span><!--
            --><span id="dsk-idx-asd-f" class="dsk-mct-asd-d dsk-mct-asd-f"></span><!--
            --><span id="dsk-idx-asd-c" class="dsk-mct-asd-d dsk-mct-asd-c"></span><!--
        --></div><!--
    --></div>
    <div id="dsk-idx" class="dsk-mct">
        <div id="dsk-idx-c" class="dsk-mct-c"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
    </script>

    @Scripts.Render("~/Content/js/desks/index")
    @Scripts.Render("~/Areas/Desks/Content/js/index")
}
