@using Heracles.Web.Areas.Desks.Resources
@model DesksExerciseModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="dsk-ect">
    <div id="dsk-top">
        <div id="dsk-ctr">
            <div id="dsk-spn" class="app-spinner app-spinner-large app-spinner-hide"></div>
            <div id="dsk-str" class="dsk-ctr dsk-actr">
                <div id="dsk-str-ctr">
                    <div id="dsk-str-rw">
                        <div id="dsk-str-tle" class="dsk-str-dta">@Model.Title</div>
                        <div id="dsk-str-sbt" class="dsk-str-dta">@Model.Subtitle</div>
                        <div id="dsk-str-rnd" class="dsk-str-dta">@DesksResources.Round @Model.Round</div>
                        <div id="dsk-str-btn" class="input input-bl">@DesksResources.Start</div>
                    </div>
                </div>
            </div>
            <div id="dsk-exr" class="dsk-ctr"></div>
            <div id="dsk-anl" class="dsk-ctr"></div>
            <div id="dsk-fns" class="dsk-ctr">
                <div id="dsk-fns-btn-bck" class="input input-gr"></div>
            </div>
        </div>
    </div>
    <div id="dsk-btm">
        <div id="dsk-str-scs" class="input input-gn input-nh">0</div>
        <div id="dsk-str-ivl" class="input input-re input-nh">0</div>
        <div id="dsk-str-tme" class="input input-bl input-nh">00:00</div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
    </script>

    @Scripts.Render("~/Content/js/desks/engine")
    @Scripts.Render("~/Areas/Desks/Content/js/engine/" + Model.ViewName)
}
